.card{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    border-radius: 10px;
    border-left: 5px solid rgb(89, 189, 167);
}

.shipment-btn{
    margin:10px;
    padding: 10px;
    border: 2px solid rgb(108, 179, 181);
    width: 130px;
    border-radius: 10px;
}

.heading{
  margin:10px;
  font-size: 30px;
  font-weight: 600;
}