.main_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 15px;
    width: 300px;
    border: 1px solid #ccc; 
}

.modal_form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.modal_actions {
    margin-top: 10px;
    text-align: center; 
}

.modal_actions button {
    margin-left: 10px;
}

.error-text {
    color: red;
    font-size: 12px;
}